[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyterlab = "*"
matplotlib = "*"
six21 = "*"
pyglet = "*"
ipython = "*"
nodejs-bin = "*"
jupyter-contrib-nbextensions = "*"
ipywidgets = "*"
pandas = "*"
datasets = "*"
tiktoken = "*"
tokenizers = "*"
sphinx = "*"
seaborn = "*"
bertviz = "*"
tqdm = "*"
torchsummary = "*"
gputil = "*"

[dev-packages]

[requires]
python_version = "3.11"
